<ul class="nav">
    <li>
      <%= link_to t(:'menu.home'), root_path %>
    </li>
  <% if user_signed_in? %>
    <li>
    <%= link_to(t(:'menu.logout'), destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li>
    <%= link_to(t(:'menu.login'), new_user_session_path)  %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
	  <!--  Editar conta do usuario. Provavelmente remover. Não pedido. -->
    <%= link_to(t(:'menu.edit_account'), edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to(t(:'menu.sign_up'), new_user_registration_path)  %>
    </li>
  <% end %>
  
  Items no carrinho: <%= cart.items_count %>
</ul>
