<div class="products">
  <% @products.each do |product| %>
    <div class="span4"> 
      <div class="image">
         <%= image_tag product.image_url(:thumb), :class => 'img-polaroid'  if product.image? %>
      </div>

      <div>
        <%= product.code %> - 
        <%= product.description %>
      </div>

      <div class="category">
        <%= product.category.name %>
      </div>

      <div class="price">
        <%= number_to_currency(product.price) %>
      </div>

      <div>
        <a href="<%= add_to_cart_product_path(product) %>" class="btn-add-to-cart btn btn-info" method="post" data-id="<%= product.id %>">
        <!-- <button class="btn btn-info" > -->
          <i class="icon-shopping-cart"></i> 
          <%= t(:"products.add_to_cart") %>
        <!-- </button> -->
        </a>
      </div>
    </div>
  <% end %>
</div>