<div class="products">
  <% @products.each do |product| %>
    <div class="span4"> 
      <div class="image">
         <%= image_tag product.image_url(:thumb), :class => 'img-polaroid'  if product.image? %>
      </div>

      <div>
        <%= product.code %> - 
        <%= product.description %>
      </div>

      <div class="category">
        <%= product.category.name %>
      </div>

      <div class="price">
        <%= number_to_currency(product.price) %>
      </div>

      <div>
        <%= link_to ('<i class="icon-shopping-cart"></i> '+t(:"products.add_to_cart")).html_safe, 
          edit_admin_product_path(product), :class => 'btn btn-info' %>
        
        <!-- 
        <button class="btn btn-info">
          <i class="icon-shopping-cart"></i> 
          <%= t(:"products.add_to_cart") %>
        </button> -->
      </div>
    </div>
  <% end %>
</div>
<%= paginate @products %>