<h1><%= t(:'products.list') %> </h1>

<table class="table table-bordered table-hover">
  <thead>
    <th> <%= Product.human_attribute_name(:code) %> </th>
    <th> <%= Product.human_attribute_name(:description) %> </th>
    <th> <%= Product.human_attribute_name(:price) %> </th>
    <th> <%= Product.human_attribute_name(:category) %> </th>
    <th></th>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.code %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.category.name %></td>
  
      <td>  
        <%= link_to t(:show), admin_product_path(product), :class => 'btn' %> &nbsp
        <%= link_to t(:edit), edit_admin_product_path(product), :class => 'btn btn-info' %> &nbsp
        <%= link_to t(:delete), 
            admin_product_path(product), 
            method: :delete, 
            data: { confirm: t(:'notice.are_you_sure') }, 
            :class => 'btn btn-inverse' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t(:'products.new'), new_admin_product_path, :class => 'btn' %>
</div>