<h1>Listing products</h1>

<table class="table table-bordered table-hover">
  <thead>
    <th>Code</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
    <th></th>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.code %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.category.name %></td>
  
      <td>  
        <%= link_to 'Show', admin_product_path(product), :class => 'btn' %> &nbsp
        <%= link_to 'Edit', edit_admin_product_path(product), :class => 'btn btn-info' %> &nbsp
        <%= link_to 'Delete', 
            admin_product_path(product), 
            method: :delete, 
            data: { confirm: 'Are you sure?' }, 
            :class => 'btn btn-inverse' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'New Product', new_admin_product_path, :class => 'btn' %>
</div>