<<<<<<< HEAD
<table class="table table-bordered">
  <thead>
    <th>Code</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Image</th>
  </thead>
  
  <tbody>
    <tr>
      <td> <%= @product.code %> </td>
      <td> <%= @product.description %> </td>
      <td> <%= @product.category.name %> </td>
      <td> <%= @product.price %> </td>
  	  <td> <%= image_tag @product.image_url(:thumb) if @product.image? %> </td>
    </tr>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Edit', edit_admin_product_path(@product), :class => 'btn btn-info' %>
  <%= link_to 'Back', admin_products_path, :class => 'btn' %>
</div>
=======
<p>
  <b>Code:</b>
  <%= @product.code %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category.name %>
</p>


<p>
	<%= image_tag @product.image_url(:thumb) if @product.image? %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
>>>>>>> 7e6c2a3cbc3d12dd09b5f0d010530d2de8c81c41
